@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Color Guitar Tabs Tool</PageTitle>

<h1>Color Tabs</h1>
<p>Paste guitar tabs below to view or print a version of it with colored strings.</p>
<input type="checkbox" @bind="HasDoubleNewline" /> Fix Double Newline (for Ultimate Guitar tabs)
<InputTextArea class="guitarTab" @bind-Value="TabInputString" Rows="10" Style="width: 100%;" />
<button class="btn btn-primary btn-md" @onclick="previewColoredTabs">Preview Colored Tabs</button>
<button class="btn btn-primary btn-md" @onclick="printColoredTabs">Print Colored Tabs</button>
<div class="guitarTab">
    @TabOutput
</div>


@code {
    private bool HasDoubleNewline { get; set; } = true;
    private string TabInputString { get; set; } = string.Empty;
    private MarkupString TabOutput = new MarkupString(string.Empty);

    private string getColoredTabsHtmlString()
    {
        string modifiedTabInput = TabInputString;

        // Apply whitespace fix
        if (HasDoubleNewline)
        {
            if (modifiedTabInput.Contains("\r\n"))
                modifiedTabInput = modifiedTabInput.Replace("\r\n\r\n", "\r\n");
            else
                modifiedTabInput = modifiedTabInput.Replace("\n\n", "\n");
        }

        // Generate Colored Tab HTML
        return TabColoring.GenerateColoredTabHtml(
            modifiedTabInput, ColorPresets.Rocksmith_Guitar_EStandard_Preset);
    }

    private void previewColoredTabs()
    {
        string htmlOutput = getColoredTabsHtmlString();
        TabOutput = new MarkupString(htmlOutput);
    }

    private void printColoredTabs()
    {
        string htmlOutput = getColoredTabsHtmlString();
        JSRuntime.InvokeVoidAsync("printHtml", htmlOutput);        
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //Console.WriteLine("Component rendered for the first time");
        }
    }
}

<style>

    .guitarTab {
        font-family: 'Roboto Mono', monospace;
    }
</style>